@media screen and (min-width: 1200px) {
    .results-container {
        width: 30%;
        }
}

@media screen and (max-width: 1200px) and (min-width: 750px) {
    .results-container {
        width: 50%;
    }
}

.results-container {
    background-color: black;
    margin: 7px 10px 7px 10px;
    border: 2px solid ghostwhite;
    border-radius: 15px;
    width: 95%;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-img-date-desc{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card-image {
    width: 28vh;
    height: auto;
    margin: 10px;
    border-top: 6px solid ghostwhite;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-left: 6px solid ghostwhite;
    border-radius: 15px;
}

.title-date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 1.3rem;
    font-weight: bold;
}
.date {
    margin-left: 10px;
}

.description {
    margin: 10px 30px 10px 30px;
    font-size: 1.5vh;
}

.stream {
    display: flex;
    align-items: center;
    justify-content: center;
}

.availability{
    text-align: center;
    font-weight: bold;
    font-style: italic;
}

.myRating {
    display: flex;
    justify-content: center;
    margin: 10px;   
}

@media screen and (min-width: 1200px) {
    .results-container {
        width: 30%;
    }
}

@media screen and (max-width: 1200px) and (min-width: 800px) {
    .results-container {
        width: 45%;
    }

    .card-image {
        width: 25vh;
        height: auto;
    }
}