.results-container {
    background: rgb(55,55,55);
    background: radial-gradient(circle, rgba(55,55,55,1) 0%, rgba(0,0,0,1) 100%);       
    margin: 7px 10px 7px 10px;
    border: 2px solid ghostwhite;
    border-radius: 15px;
    width: 95%;
    max-width: 380px;
}

.card-info {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.card-img-date-desc{
    display: flex;
    width: 100%;
}

.card-image {
    width: auto;
    height: 30vh;
    margin: 10px;
    border-top: 3px solid ghostwhite;
    border-right: 1px solid ghostwhite;
    border-bottom: 1px solid ghostwhite;
    border-left: 3px solid ghostwhite;
    border-radius: 15px;
}

.title-date {
    display: flex;
    align-items: center;
}

.card-title {
    margin-bottom: 0;
    margin-left: 20px;
    font-size: 1.3rem; 
    font-weight: bold;
}

.date {
    margin-left: 10px;
}

.description {
    margin-left: 20px;
    width: 90%;
}

.stream{
    margin: 5px;
}

.availability{
    margin-bottom: 0;
    font-weight: bold;
    font-size: 0.9rem;
    font-style: italic;
}

.myRating {
    display: flex;
    margin-top: 10px;
    justify-content: center;
}