.results-container {
    background-color: lightgray;
    padding: 20px;
    border-radius: 10px;
    margin: 20px;
}

.card-info {

}

.card-image {

}

.title-date {

}

.card-title {

}

.description {

}

.myRating {
    margin-left: auto;
}