.similar-card {
display: flex; 
margin: 10px 10px 0px 0px;
}

.similar-image {
  max-width: 25vw;
  max-height: auto;
  border: 5px solid black;
  border-radius: 15px;
}

.similar-container {
  display: flex;
  overflow-x: auto;
}