.similar-card {
display: flex; 
margin: 10px 10px 0px 0px;
}

.similar-image {
  max-width: 18vh;
  max-height: auto;
  margin: 8px;
  border: 4px solid orchid;
  border-radius: 15px;
}

.similar-container {
  display: flex;
  overflow-x: auto;
}