.footer {
    text-align: center;
    color: gray; 
    padding-top: 1%;
    padding-bottom: 1%;
    margin-top: 6%; 
    margin-bottom: 3%; 
    border-top: double gray; 
    border-bottom: double gray; 
}

.credits{
    font-size: 0.8rem;
}