
#search-button {
    border-radius: 5px;
    background-color: #2596be;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.login {
    width: 10vw;
    margin-left: 10px;
}

.nav-item{
    white-space: nowrap;
}

#navbarNav{
    width: auto;
}